@using CHABS.Models
@model CHABS.Models.CategoryMatchesViewModel

@section SecondaryNav {
	@Html.Partial("_BankNavPartial")
}

<h3>Matching for @Model.CategoryName</h3>
<div class="col-md-12">
	<div class="col-md-6">
	    <p>A Category Matcher is how a transaction is matched to a category. The Match text will be compared to the transaction description to determine if it is a match for the Category.</p>
	    <form asp-action="Matches" asp-controller="Categories" 
	          data-ajax="true"
	          data-ajax-begin="onBegin" 
	          data-ajax-complete="onComplete"
	          data-ajax-mode="replace"
	          data-ajax-update="#results"
	          data-ajax-method="POST" class="form-horizontal">
	        <div asp-validation-summary="All"></div>
				<div class="form-group">
					@Html.LabelFor(m => m.Match, new {@class = "col-md-3 control-label"})
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.Match, new {@class = "form-control"})
						@Html.ValidationMessageFor(m => m.Match, "", new {@class = "text-danger"})
					</div>
				</div>
				@Html.HiddenFor(m => m.CategoryId)
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Add Match</button>
					</div>
				</div>
			</form>
	</div>
	<div class="col-md-6" id="results">
		@Html.Partial("CategoryMatchListPartial", new CategoryMatchesListViewModel(Model.CurrentCategoryMatches))
	</div>
</div>


@section Scripts {

	<script>
		function onBegin() {
			$('#results').html('');
		}

		function onComplete() {
			$('form').last()[0].reset();
		}

		$(document).ready(function () {

		});
	</script>
}