@model CHABS.Models.CategoriesListViewModel

<div class="col-md-12">
	<div class="row">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Name</th>
					<th>Excluded from bugets?</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				@foreach (var category in Model.CurrentCategories) {
					<tr>
						<td>@category.Name</td>
						<td>@Html.Raw(category.Excluded ? "<span class='glyphicon glyphicon-ok text-success'></span>" : "")</td>
						<td><a class="btn btn-xs btn-info" href="@Url.Action("ToggleCategory", new { id = category.Id })">Toggle</a></td>
						<td><a class="btn btn-xs btn-default" href="@Url.Action("CategoryMatches", new { id = category.Id })">Matches</a></td>
						<td><a class="btn btn-xs btn-warning" href="@Url.Action("DeleteCategory", new { id = category.Id })">Delete</a></td>
					</tr>
				}
			<tbody>
		</table>
	</div>
</div>